$white: '#ffffff';
$black: '#000000';
$bigStone: '#131e3a';
$cerulean: '##0091e4';
$sugarCane: '#fefffe';
$rioGrande: '#c6e103';
$tapestry: '#b966a1';


.white {
  color: $white;
}

.black {
  color: $black;
}

.bigStone {
  color: $bigStone;
}

.cerulean {
  color: $cerulean;
}

.sugarCane {
  color: $sugarCane;
}

.rioGrande {
  color: $rioGrande;
}

.tapestry {
  color: $tapestry;
}
